version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/database.db:/app/database.db
      - ./backend/dataset:/app/dataset
      - ./backend/embeddings.pkl:/app/embeddings.pkl
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
